@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #05141a;
}

header {
  margin-top: 20px;
  text-align: center;
  font-family: "Bungee Outline", cursive;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(133, 228, 228);
}

.container {
  padding: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.score-container {
  padding: 3rem 0rem 0rem 0rem;
  display: flex;
  justify-content: center;
}

#versus {
  margin: auto 150px auto 150px;
}

.score, .bottom {
  color: yellow;
  font-size: 3rem;
  font-family: Bungee;
  text-align: center;
}

#score-seperator {
  margin: auto 70px;
  color: aqua;
  font-family: "Bungee";
  font-size: 29px;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.red {
  color: #e04955;
}

.m-top {
  margin: 1rem 0rem;
}

.bungee {
  font-family: "Bungee";
}

.hidden {
  visibility: hidden;
}

#winner {
  color: red;
  font-size: 1.5rem;
  font-family: Bungee;
}

#rock,
#scissors,
#paper {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: rgb(80, 80, 80) solid 8px;
  padding: 10px;
  margin: 20px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.red {
  border-color: red !important;
  background-color: red !important;
}
.grey {
  border-color: #999999 !important;
  background-color: #999999 !important;
}
.green {
  border-color: green !important;
  background-color: green !important;
}




@media only screen and (max-width: 600px) {
  header {
    padding: 0.1rem;
    font-size: 1.9rem;
  }
  .container {
    padding: 0.2rem 0rem 0rem 0rem;
  }

  .score-container {
    padding: 1rem 0rem 0rem 0rem;
  }

  #versus {
    margin: auto 10px;
  }

  .score {
    font-size: 1rem;
  }

  #score-seperator {
    margin: auto 15px;
    font-size: 16px;
  }

  img {
    max-width: 100px;
  }

  #winner {
    font-size: 20px;
    padding: 30px 0px;
  }
  .m-top {
    margin: 4rem 0rem 0rem 0rem;
    display: block;
  }

  #versus img {
    max-width: 71px;
  }
  
  .bottom {
    color: yellow;
    font-size: 1.2rem;
    font-family: Bungee;
    text-align: center;
  }
  
  .center {
    display: grid;
    text-align: center;
  }

  #rock,
  #scissors,
  #paper {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
  }  
}